
     
    body {
      font-family: Arial;
    }
    .container {
      display: grid;
      /*grid-template-columns: 25% 200px 25%;*/
      /*grid-template-rows: 300px 150px;*/
      /*grid-template: filas / columnas ;*/
      /*fr*/
      /*grid-template: 300px 100px 100px / repeat(4, 1fr);*/
      /*grid-template: 300px 100px 100px / repeat(4, minmax(200px, 1fr));*/
      grid-template: 200px 1fr 150px/ 200px 1fr ;
      /*grid-gap: filas columnas;*/
      grid-gap: 10px;
      height: 100vh;
      grid-template-areas: "header header"
                           "left contenido"
                           "footer footer";
    }
    .item {
      background: lightblue;
      padding: 10px;
      border: 1px solid red;
      /*margin-right: 10px;*/
      /*margin-bottom: 10px;*/
    }
    .item:nth-of-type(4) {
      background: blue;
      overflow: auto;
      /*display: subgrid;*/
      /*display: inline-grid;*/
      display: grid;
      grid-template: 50px 50px 50px / 200px 200px 200px;
    }
    .item .item {
      background: yellow;
    }
    .header {
      grid-area: header;

    }
    .left {
      grid-area: left;
      height: 300px;

    }
    .contenido {
      grid-area: contenido;
      height: 300px;

    }
    .footer {
      grid-area: footer;
      height: 300px;

    }
  </style>