body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #efefef;
}
.container{
    display: grid;
    grid-template-columns: 75px repeat(2, 1fr);
    grid-template-rows: 70px repeat(3, auto);
    grid-template-areas: "header header header header"
                         "menu movie movie movie"
                         "menu movie movie movie"
                         "menu movie movie movie";
    gap: 0 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    box-shadow: 0 4px 2px -2px #dfdfdf;
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 70px;
}
.logo-title{
    display: flex;
    align-items: center;
}
.logo-title p{
    font-family: 'Londrina Outline', cursive;
    color: #2cb5e8;
    font-size: 2rem;
    font-weight: bold;
}
.header .logo{
    width: 65px;
    margin: 0;
}
.header .logo img{
    width: 100%;
    border-radius: 50%;
}
.logo-title, .user-profile{
    margin: 0 1rem;
}
.search-header {
    width: 40%;
}
.search-header input{
    width: 100%;
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid #dfdfdf;
    outline-color: #2cb5e8;
}
.search-header input::placeholder{
    color: #dfdfdf;
}
.user-profile{
    display: flex;
    align-items: center;
    position: relative;
}
.user-profile p, .user-profile figure{
    margin: 0;
}
.user-profile p{
    font-weight: bold;
}
.user-profile figure{
    width: 40px;
    margin: 0 .5rem;
}
.user-profile figure img{
    width: 100%;
    border-radius: 50%;
}
.user-profile i{
    cursor: pointer;
}
.menu-profile{
    display: none;
}
.menu-profile ul{
    padding: 0 1rem;
    list-style: none;
}
.menu-profile ul li{
    padding: .5rem 0;
}
.menu-profile ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-profile-show{
    display: block;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 20000;
}
.menu-main{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-main .list-menu{
    list-style: none;
    text-align: center;
    padding: 0;
    margin-top: 2rem;
}
.menu-main .list-menu li{
    margin-bottom: 2rem;
}
.menu-main .list-menu li:hover a i{
    transform: rotate(360deg);
}
.menu-main .list-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.menu-main .list-menu a i{
    display: block;
    transition: all ease .5s;
}
.title-now{
    font-size: 1.2rem;
    margin-left: .5rem;
}
.content-movie{
    grid-area: movie;
    margin-bottom: 2rem;
}
.movie{
    width: 400px;
    position: relative;
    overflow: hidden;
}
.movie:hover .img-movie img{
    transform: scale(1.1,1.1);
}
.movie:hover .description-movie{
    bottom: 0;
}
.movie .img-movie{
    width: 370px;
    margin: 0;
    height: 100%;

}
.movie .img-movie img{
    width: 100%;
    transition: all ease .5s;
    transform: scale(1,1);
}
.movie .description-movie{
    background: rgba(43, 181, 232, .5);
    color: #dfdfdf;
    position: absolute;
    z-index: 10;
    bottom: 4px;
    padding: .5rem 1rem;
    transition: all ease .5s;
}

.movie .description-movie .title-movie{
    font-size: 1.5rem;
    font-weight: 600;
}
.movie .description-movie .info-movie{
    font-size: 80%;
    margin-bottom: 0;
}

.pelis{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px){
    .pelis{
        justify-content: flex-start;
    }
    .movie{
        margin: 0 1rem 1rem;
    }
}
@media screen and (max-width: 768px){
    .pelis{
        justify-content: center;
    }
}
@media screen and (max-width: 425px){
    .header{
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: auto;
    }
    .container{
        grid-template-rows: 200px repeat(3, auto);
    }
    .logo-title p{
        margin: 1rem 0;
    }
    .search-header{
        width: 80%;
        margin-bottom: 1rem;
    }
}
