.container{
display: grid;
/*grid-template-columns: 25% 200px 25%;*/
/*grid-template-rows: 300px 150px;*/
/*grid-template: filas / columnas;*/
/*fr es para fracciones iguales en las columas y filas*/
/*auto es para igualar el espaciado en las columas y filas*/
/*repeat(para no dublicar codigo) es para igualar el espaciado en las columas y filas*/
grid-template: 100px 1fr 150px/ 200px 1fr;
grid-column-gap: 30px;
grid-row-gap: 50px;
/*grid-gap: filas / columnas;*/
grid-gap: 10px;
height: 100vh;
grid-template-areas: "header header"
					 "left contenido contenido"
					 "footer footer";

}

.item{
	background: lightblue;
	padding: 10px;
	border: 1px solid red;
}

.item:nth-of-type(4) {
	background: blue;
	overflow: auto;
	display: grid;
	grid-template: 50px 50px 50px / 200% 200px 200%;
}

.item .item{
	background: yellow;
}

.header{
	grid-area: header;

}

.left{
	grid-area: left;
	
}

.contenido{
	grid-area: contenido;
	
}

.footer{
	grid-area: footer;
	
}









