.container{
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 5px;
height: 100vh;


}

.item{
	background: lightblue;
	padding: 10px;
	border: 1px solid red;
}

.item:nth-of-type(1) {
	background: blue;
	/* grid para indicar donde empiea y finaliza
	grid-column-start: 1;
	grid-column-end: 3;*/
	grid-column: 1 / span 3;
	grid-row: 1 / span 2;
}

.item:nth-of-type(2) {
	background: red;
	grid-column: 4 / span 2;
	grid-row: 1 / span 2;
	
}

.item:nth-of-type(3) {
	background: yellow;
	grid-column: 6 / span 2;

}

.item:nth-of-type(8) {
	/* grid para indicar donde empiea y finaliza
	grid-column: 1 / -1;*/
}

.item:nth-of-type(7) {
	/* grid para indicar donde empiea y finaliza
	grid-column: 2 / 4;*/
}


.item .item{
	background: yellow;
}

.header{
	grid-area: header;

}

.left{
	grid-area: left;
	
}

.contenido{
	grid-area: contenido;
	
}

.footer{
	grid-area: footer;
	
}









