.container {
      display: grid;
      grid-template-columns: [inicio] 1fr [linea2] 1fr [linea3] 1fr [destacado-end] 1fr [linea5] 1fr [destacado2-end] 1fr [linea7] 1fr [final];
      grid-template-rows: [inicio] 200px [inicio2] 200px [final];
      grid-gap: 5px;
      height: 100vh;
      /*grid-auto-flow: column;*/
      /*grid-auto-columns: 200px 200px 200px 200px;*/
      grid-auto-rows: 50px 100px;

    }
    .item {
      background: lightblue;
      padding: 10px;
      border: 1px solid red;
      /*margin-right: 10px;*/
      /*margin-bottom: 10px;*/
    }
    .item:nth-of-type(1) {
      /*background: blue;
      grid-column-start: 1;
      grid-column-end: 3;*/
      /*grid-column: 1 / span 3;
      grid-row: 1 / span 2;*/
      grid-column: inicio / destacado-end;
      grid-row: inicio / final;
    }
    .item:nth-of-type(2) {
      grid-column: destacado-end / destacado2-end;
      grid-row: inicio / final;
     /* grid-column: 4 / span 2;
      grid-row: 1 / span 2;*/
    }
    .item:nth-of-type(3) {

      grid-column: destacado2-end / final;

    }





