.flexbox{ /*padre*/
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;	
}
.flexbox2{ /*padre*/
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;	
}
.flexbox3{ /*padre*/
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;	
}
.flex3{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:center;
}
.flexbox4{ /*padre*/
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-evenly; 

}
.flex5{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box{ /*hijo*/
	flex-shrink: 0;
	margin: 2px;
	width: 50px;
	height: 50px;
 
}
.box1{ /*hijo*/
  flex-shrink: 0;
  margin: 5px;
}
.box2{ /*hijo*/
    flex-shrink: 0;
    margin: 5px;
    width: 400px;
    height: 400px;

}
.box3{ /*hijo*/
	margin: 5px;
    width: 48%;
    float: left;
    display: block;
}
.box4{ /*hijo*/
  flex-shrink: 0;
  margin: 5px;
  width: 200px;
  height: 200px;
}
.box4-4{
    width: 664px;
    flex-shrink: 0;
    margin: 5px;
    height: 200px;
}
.boximg{
    margin: 5px;
    width: 154px;
    height: 189px;
    float: left;
    display: block;
}
.border{
  border-bottom: 5px solid #BFC9CA;
}
.s1{
width: 40%;
height: 500px;
}
.s2{
width: 30%;
height: 500px;
}
.s3{
width: 20%;
height: 500px;
}
.s-2{
width: 60%;
}
.s2-2{
  display: none;
}
.s-3{
    width: 50%;
    float: right;
    height: auto;
}
.text1{
 margin-top: 200px;
}
.text2{
	margin-right: 121px;
}
.img1{
	background-image: url('../img/1platzi.jpg');
	background-color: #1b2127;
	background-size: 100%;
	background-repeat: no-repeat;
}
.img2{
	background-image: url('../img/2platzi.jpg');
	background-color: #1b2127;
	background-size: 100%;
	background-repeat: no-repeat;
}

.img1-1{
	background-image: url('../img/1platzi.jpg');
	background-color: #18F0F0;
	background-size: 50%;
	background-repeat: no-repeat;
}
.img3{
	background-image: url('../img/1platzi.jpg');
	background-color: #18F0F0;
	background-size: 100%;
	background-repeat: no-repeat;
}
.img3-3{
  background-image: url('../img/1platzi.jpg');
  background-color: #18F0F0;
  background-size: 100%;
  background-repeat: no-repeat;
}
.iimmgg{
  background-image: url('../img/1platzi.jpg');
  background-color: #1b2127;
  background-size: 100%;
  background-repeat: no-repeat;
}
.boxblack{
background-color: #FDFEFE;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
    margin-top: 127px;
    width: 281px;
    height: 58px;
    margin-left: 208px;	
}
.multibox{
    width: 100%;
    height: 92px;
}
.multibox2{
    width: 25%;
    height: 10px;
}
.boxblack2{
background-color: #FDFEFE;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
     margin-top: 325px;
    width: 366px;
    height: 106px;   
}
.boxblack3{
background-color: #FDFEFE;
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
    margin-top: 8px;
    width: 267px;
    height: 47px;
    margin-left: 467px; 
}
.boxblack3-3{
background-color: #318484;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
    width: 145px;
    height: 37px;
    margin-left: 55px;
}
.boxblack4{
width: 150px;
background-color: #839192;
}
.boxblackk2{
    background-color: #95A5A6;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 400px;
}
.boxblackk{
      background-color: #95A5A6;
    padding: 10px;
    margin-bottom: 5px;
}
.space{
margin-left: 126px;
}
.linea{
  color : #2C3E50;
border-bottom: 3px solid #BFC9CA;
    width: 137px;
}
.tamano{
      width: 100%;
}
.tamano1{
      width: 98%;
      background-color: white;
}
.flex4{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.caja4{
  width: 250px;
  height: 180px;
  flex-shrink: 0;
  margin: 20px;
}
.caja5{
  width: 250px;
  height: 180px;
  flex-shrink: 0;
  margin: 20px;
  width: 40%;
}
.caja3{
      width: 24%;
    height: 25%;
    flex-shrink: 0;
}
.fa{
margin-top: 38px;
}

/*imagenes */
.ejemplo-1 img {
transition: all 0.4s linear;
}
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba(46,157,120, 0.7);
transition: all 0.4s ease-in-out;
    height: 191px;
    margin-top: -20px;
    overflow: hidden;
}
.ejemplo-1 h2 {
transform: translateX(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
transform: translateX(200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.ejemplo-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover > .mascara {
    opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
transform: translateY(0px);
}


/*responsive */
@media only screen and (max-width: 960px) {
.s1{
  width: 100%;
}
.s2{
  width: 100%;
}
.s3{
  width: 100%;
}
.s2-2{
  display: none;
}

.size1{
    width: 100%;
}
.size4{
       width: 97%;
}
.size3{
       width: 100%;
}
.size3{
       width: 100%;
}
.img1-1 {
    background-image: url(../img/1platzi.jpg);
    background-color: #18F0F0;
    background-size: 100%;
    background-repeat: no-repeat;
}
.boxblackk2 {
    background-color: #95A5A6;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 129px;
    margin-top: -9px;
}

input{
      width: 81px;
}
.boxblack3{
    background-color: #FDFEFE;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
    width: 267px;
    height: 47px;
    margin-left: 7px;
}

.boxblack {
    background-color: #FDFEFE;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    margin-top: 111px;
    width: 148px;
    height: 41px;
    margin-left: 6px;
}

.boxblackk2 {
    background-color: #95A5A6;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 129px;
    margin-top: 1px;
    position: absolute;
    right: 4%;
}
.size7 {
    width: 100%;
}

.spaceres {
    /* margin-left: 126px; */
    position: absolute;
    right: 10%;
}
.s-2{
width: 100%;
}
.s-3 {
    width: 100%;
    float: right;
    height: auto;
}
.boxblackk {
    background-color: #95A5A6;
    padding: 10px;
    margin-bottom: 5px;
    position: absolute;
}
.img1-1 {
    background-image: url('../img/1platzi.jpg');
    background-color: #18F0F0;
    background-size: 78%;
    background-repeat: no-repeat;
}

}

@media only screen and (max-width: 790px) {
.ss7 {
width: 100%;
}
.s2-2{
  display: none;
}
.img1-1 {
    background-image: url('../img/1platzi.jpg');
    background-color: #18F0F0;
    background-size: 50%;
    background-repeat: no-repeat;
}
.size5{
       width: 100%;
}

}






