.flexbox{ /*padre*/
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;	
}
.box{ /*hijo*/
	flex-shrink: 0;
	margin: 5px;
	border: 1px solid red;
}
.size1{
width: 50%;
}
.size2{
	width: 40%;
}
.size3{
	width: 10%;
}
.img1{
	background-image: url('../img/1platzi.jpg');
	background-color: #1b2127;
	background-size: 100%;
	background-repeat: no-repeat;
}
.warning { 
  background-color: #1CC2CD;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
   margin-top: 315px;
    width: 250px
}
.boxblack{
background-color: #17202A;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
   margin-top: 105px;
    width: 300px;
    height: 100px;	
}
.warning:hover {
  background-color: #95A5A6;
}
.warning2{ 
  background: #17202A; 
      width: 236px;
    height: 88px;
    margin-top: 90px;
}
.warning3{ 
     background: #5DADE2;
    width: 60px;
    height: 178px;
    margin-top: -193px;
    display: none;
}

h2{
	    margin-left: 24px;
}

p{
	    margin-left: 24px;
}

.flex2{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;
}
.caja2{

	justify-content:center;
	width: 100%;
	height: 124px;
}
.navegador ul{
   list-style-type: none;
   text-align: center;
}
.navegador li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
.navegador li a {
   padding: 2px 7px 2px 7px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid #ccc;
   text-decoration: none;
}
.navegador li a:hover{
   background-color: #333333;
   color: #ffffff;
}


.flex3{
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:center;
}
.caja3{
	width: 25%;
	flex-shrink: 0;
}
.img3{
	background-image: url('../img/1platzi.jpg');
	background-color: #1b2127;
	background-size: 469px 399px;
	background-repeat: no-repeat;

}

.flex4{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.caja4{
	width: 250px;
	height: 180px;
	flex-shrink: 0;
	margin: 20px;
}
.fa{
margin-top: 38px;
}

/*Ejemplo 1*/
.ejemplo-1 img {
transition: all 0.4s linear;
}
.ejemplo-1 .mascara {
opacity: 0;
background-color: rgba(46,157,120, 0.7);
transition: all 0.4s ease-in-out;
    height: 400px;
    margin-top: -20px;
    overflow: hidden;
}
.ejemplo-1 h2 {
transform: translateX(-200px);/*Desplazamos a la izquierda*/
opacity: 0;
transition: all 0.7s ease-in-out;
}
.ejemplo-1 p {
transform: translateX(200px);/*Desplazamos a la derecha*/
opacity: 0;
transition: all 0.4s linear;
}
.ejemplo-1 a.link{
opacity: 0;
transition: all 0.4s ease-in-out;
transform: translateY(100px)/*Desplazamos para abajo*/
}
.ejemplo-1:hover img {
transform: scale(1.1);/*Damos un ligero zoom a la imagen*/
}
.ejemplo-1:hover > .mascara {
    opacity: 1;
}
.ejemplo-1:hover h2,
.ejemplo-1:hover p,
.ejemplo-1:hover a.link {
opacity: 1;
transform: translateX(0px);/*Regresamos a las posiciones originales*/
}
.ejemplo-1:hover p {
transition-delay: 0.1s;
}
.ejemplo-1:hover a.link {
transition-delay: 0.2s; /*Aplicamos un pequeño retardo para que se muestre al final*/
transform: translateY(0px);
}

nav {
position : absolute;
left : 0;
width : 100%;
}
nav ul {
margin : 0 auto;
width : 100%;
list-style : none;
}
nav ul li {
float : left;
width: 25%;

}
nav ul li a {
display : block;
font-size : 14px;
line-height : 44px;
text-align : center;
text-decoration : none;
color : #ccc;
}
nav ul li a:hover {
color : #2C3E50;
border-bottom: 5px solid #BFC9CA;
}
nav ul li.selected a{
color : #2C3E50;
}
li{
  font: 180% sans-serif;
}


@media only screen and (max-width: 900px) {

.size1{
width: 100%;
}
.size2{
	width: 100%;
}
.size3{
	width: 10%;
}
.caja3{
	width: 100%;
	flex-shrink: 0;
}
.caja2{

	justify-content:center;
	width: 10%;
	height: 124px;
}
nav ul li {
float : left;
width: 22%;

}

}












