.container {
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(4, 200px);
      grid-gap: 5px;
      height: 100vh;
      /*grid-auto-flow: column;*/
      /*grid-auto-columns: 200px 200px 200px 200px;*/
      /*start alinea al inicio*/
      /*end alinea al final*/
      /*center alinea al centro*/
      /*strech es como si no hiciera nada*/
      grid-auto-rows: 50px 100px;
      /*justify-items: center;*/
      /*align-items: center;*/ 
      /*space-around espacio alrededor de cada columna;*/ 
      /*space-between espacio solo interno;*/ 
        /*grid-gap para separar*/ 
          /*border-radius tipo espacio ;*/ 
      justify-content: space-between;
      aling-content: end;

    }
    .item {
      background: lightblue;
      padding: 10px;
      border: 1px solid red;
      /*margin-right: 10px;*/
      /*margin-bottom: 10px;*/
    }

    .item:nth-of-type(5){
      /*aling-self:start;
      justify-self:start;*/
    }
    





